<div id="main">     
<div class="container">
    <div class="page-heading">
    	<h1>How You Want Your Actions Categorized:</h1>
    </div>

            <%= form_for @actiontype do |f| %>
            <div class="row-fluid row-content">
                    <% f.hidden_field :user_id, :value => current_user.id %>
                    <div class="control-group span4">
                        <label>Reason</label>
                        <%= f.text_field :action_type, placeholder: @actiontype.action_type %>
                    </div>   
                    <div class="control-group span4">
                        <p><b>Created At</b></p>
                        <p><%= @actiontype.created_at.strftime("%m/%d/%Y") %></p>
                    </div>
                    <div class="control-group span4">
                        <p><b>Created By</b></p>
                        <p><%= User.find_by(id: @actiontype.user_id).first_name %> <%= User.find_by(id: @actiontype.user_id).last_name %></p>
                    </div>
            </div>             
            <div class="form-actions">
                    <%= link_to "Cancel", categories_path, class: "pull-right", style: "margin-left: 10px; margin-top: 10px;" %>
                    <input class="btn btn-green btn-wide btn-large pull-right" type="submit" name="save" value="Save Changes" />
            </div>
        
        <% end %>
