<div class="bar-blue row-content">
    <div class="row-fluid">



        <div class="col-md-4"><span class="font-lblue">Your Website: </span><%= link_to @company.website_url, "http://"+@company.website_url, :target => "_blank" %></div> 
        <div class="col-md-4"><span class="font-lblue">Company Name: </span><%= @company.company_name %></div>
        <div class="col-md-4"><span class="font-lblue">Address One: </span><%= @company.address_one %></div>
        <% if @company.address_two.present? %>
        <div class="col-md-4"><span class="font-lblue">Address Two: </span><%= @company.address_two %></div>
        <% end %>
        <div class="col-md-4"><span class="font-lblue">City: </span><%= @company.city %></div>
        <div class="col-md-4"><span class="font-lblue">State: </span><%= @company.state %></div>
        <div class="col-md-4"><span class="font-lblue">Zip Code: </span><%= @company.postcode %></div>
        <div class="span5"><span class="font-lblue">Phone Number: </span><%= @company.phonenumber %></div>
    </div>
</div>