<header id="header">
    <nav id="navigation">
        <div class="container">
            <% if logged_in? %>
                    <% if params[:controller] == 'closingloop/opportunities'  %>
                        <%= link_to image_tag('logo.png'), "/closingloop/opportunities?reviewed=false", id: "logo" %>
                    <% elsif current_user.company.present? %>
                        <%= link_to image_tag('logo.png'), current_user.company, id: "logo" %>
                    <% elsif current_user.agency.present? %>
                        <%= link_to image_tag('logo.png'), current_user.agency, id: "logo" %>
                    <% else %>
                        <%= link_to image_tag('logo.png'), root_path, id: "logo" %>
                    <% end %>
                <ul class="main-nav nav">
                  <% if params[:controller] == 'closingloop/opportunities'  %>
                    <li><%= link_to "Unreviewed Leads", '?reviewed=false' %></li>
                    <li><%= link_to "Reviewed Leads", '?reviewed=true' %></li>
                    <li><%= link_to "All", closingloop_opportunities_path %></li>
                    <li>
                                                
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin<i class="icon-caret-down"></i></a> 
                            <div class="dropdown-menu">
                                <div class="arrow"></div>
                                <ul>
                                    <li><a href="clientarea.php?action=details">Report</a></li>
                                    <li><a href="clientarea.php?action=contacts">Administrators</a></li>
                                    <li><a href="clientarea.php?action=changepw">Reviewers</a></li>
                                    <li><%= link_to "Sign Out", '/sign-out' %></li>
                                </ul>
                            </div>
                    </li>                
                  <% else %>
                    <li class="dashboard">
                      <% if current_user.company.present? %>
                            <%= link_to "Dashboard", company_path(current_user.company) %>
                        <% elsif current_user.agency.present? %>
                            <%= link_to "Dashboard", agency_path(current_user.agency) %>
                      <% end %>
                    </li>
                    <% if current_user.company.present? %>
                        <li><%= link_to "Opportunities", "/opportunities/reset_filterrific" %></li>
                    <% elsif current_user.agency.present? %>
                        <li><%= link_to "Customer Leads", agency_companies_path(current_user.agency) %>
                    <% end %>
                <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Account Settings<i class="icon-caret-down"></i></a> 
                        <div class="dropdown-menu">
                            <div class="arrow"></div>
                            <ul>
                                <li><%= link_to "Edit Your Account", edit_user_path(current_user) unless !logged_in? %></li>
                                <li><%= link_to "Edit Company Info", edit_company_path(current_user.company) if current_user.company.present? %></li>
                                <li><%= link_to "Manage Users", users_path unless !logged_in? %></li>
                                <li><%= link_to "Opportunity Categories", categories_path unless !logged_in? || current_user.agency.present? %></li>
                                <li><%= link_to "Sign Out", '/sign-out' %></li>
                            </ul>
                        </div>
                </li>                
              <% end %>
            </ul><!--/main-nav-->
        <% end %>
        </div><!--navigation container--> 
    </nav><!--navigation-->
    
    <div id="clientbar">
        <div class="container">                                        
        </div><!--clientbar container-->
    </div><!--/clientbar-->

</header><!-- end of topbar -->