<% if @opportunity.message_type == 'call' %>
    <%= form_for([:closingloop, @opportunity]) do |f| %>
            <%= f.hidden_field :reviewer_id, :value => @user.id %>
            <%= f.hidden_field :reviewed, :value => true %>
            <table width="70%" align="center" class="table table-responsive">
                <tr>
                    <th>Tracking Number</th>
                    <td><%= @opportunity.company.tracking_phone_number %></td>
                </tr>
                <tr>
                    <th>Target Number</th>
                    <td><%= @opportunity.company.phonenumber %></td>
                </tr>
                <tr>
                    <th>Opportunity Name</th>
                    <td><%= @opportunity.opportunity_name %></td>
                </tr>
                <tr>
                    <th>Opportunity Address</th>
                    <td><%= @opportunity.customer_address %></td>
                </tr>
                <tr>
                    <th>Opportunity Phone</th>
                    <td><%= @opportunity.caller_phone_number %></td>
                </tr>
                <tr>
                    <th>Call Recording</th>
                    <td><%= audio_tag(@opportunity.call_recording_link, controls: true) %></td>
                </tr>
                <tr>
                    <th>Duration</th>
                    <td><%= @opportunity.duration %></td>
                </tr>
                <tr>
                    <th>Call Status</th>
                    <td><%= @opportunity.call_status %></td>
                </tr>
                <tr>
                    <th>Date & Time</th>
                    <td><%= @opportunity.created_at.to_formatted_s(:long) %></td>
                </tr>
                <% if @opportunity.reviewed? %>
                    <tr id="row_reviewed_by">
                        <th>Reviewed By</th>
                        <td><%= @reviewer.first_name %> <%= @reviewer.last_name %></td>
                    </tr>
                <% end %>
                <tr><td colspan="2">&nbsp;</td></tr>
                        <tr id="q_call_answered">
                            <th>Call Answered?</th>
                            <td>
                                <div class="radio-toolbar">
                                    <%= f.radio_button :call_answered, true, class: 'call_answered_true' %>
                                    <%= f.label :call_answered, "Yes" %>
                                    <%= f.radio_button :call_answered, false, class: 'call_answered_false' %>
                                    <%= f.label :call_answered, "No" %>
                                </div>
                            </td>
                        </tr>
                        <tr id="why_not_answered" style="display:none;">
                            <th>Why wasn't it answered?</th>
                            <td>
                                <%= f.select :why, options_for_select([["No Answer", "N"], ["Abandoned", "A"], ["After Business Hours", "H"]], @opportunity.why), { include_blank: true } %>
                            </td>
                        </tr>
                        <tr id="q_opportunity" style="display:none;">
                            <th>Was it a opportunity?</th>
                            <td>
                                <div class="radio-toolbar">
                                    <%= f.radio_button :is_customer, true, class: 'opportunity_true' %>
                                    <%= f.label :is_customer, "Yes" %>
                                    <%= f.radio_button :is_customer, false, class: 'opportunity_false' %>
                                    <%= f.label :is_customer, "No" %>
                                </div>
                            </td>
                        </tr>
                        <tr id="opportunity_type" style="display:none;">
                            <th>Opportunity Type</th>
                            <td>
                                <%= f.select :actiontype_id, options_from_collection_for_select(@actiontypes, 'id', 'action_type', @opportunity.actiontype_id), { include_blank: true } %>
                            </td>
                        </tr>
                        <tr id="reason_for_call" style="display:none;">
                            <th>Reason for Call</th>
                            <td><%= f.select :category_id, options_from_collection_for_select(@categories, 'id', 'reason', @opportunity.category_id), { include_blank: true }  %></td>
                        </tr>


                        <tr>
                            <td>&nbsp;</td>
                            <td><%= f.submit "save", class: "btn btn-success" %></td>
                        </tr>
                      </table>
    <% end %>
<% end %>


<% if @opportunity.message_type == 'form' %>      
    <%= form_for [:closingloop, @opportunity] do |f| %>
            <%= f.hidden_field :reviewer_id, :value => @user.id %>
            <%= f.hidden_field :reviewed, :value => true %>
            <table width="70%" align="center" class="table table-responsive">
                <tr>
                    <th>Opportunity Name</th>
                    <td><%= @opportunity.opportunity_name %></td>
                </tr>
                <tr>
                    <th>Email Address</th>
                    <td><%= @opportunity.lead_email %></td>
                </tr>
                <tr>
                    <th>Interest</th>
                    <td><%= @opportunity.lead_interest %></td>
                </tr>
                <tr>
                    <th>Phone Number</th>
                    <td><%= @opportunity.lead_phone_number %></td>
                </tr>
                <tr>
                    <th>Comments</th>
                    <td><%= @opportunity.lead_comments %></td>
                </tr>
                <tr>
                    <th>Date & Time</th>
                    <td><%= @opportunity.created_at.to_formatted_s(:long) %></td>
                </tr>
                <% if @opportunity.reviewed? %>
                    <tr id="row_reviewed_by">
                        <th>Reviewed By</th>
                        <td><%= @reviewer.first_name %> <%= @reviewer.last_name %></td>
                    </tr>
                <% end %>
                <tr><td colspan="2">&nbsp;</td></tr>
                <tr id="q_opportunity_mail">
                    <th>Was it a opportunity?</th>
                    <td>
                        <div class="radio-toolbar">
                            <%= f.radio_button :is_customer, true, class: 'opportunity_true' %>
                            <%= f.label :is_customer, "Yes" %>
                            <%= f.radio_button :is_customer, false, class: 'opportunity_false' %>
                            <%= f.label :is_customer, "No" %>
                        </div>
                    </td>
                </tr>
                <tr id="opportunity_type" style="display:none;">
                    <th>Opportunity Type</th>
                    <td>
                        <%= f.select :actiontype_id, options_from_collection_for_select(@opportunitytypes, 'id', 'action_type', @opportunity.actiontype_id), { include_blank: true } %>
                    </td>
                </tr>
                <tr id="inquiry_type_mail" style="display:none;">
                    <th>Reason for reaching out?</th>
                    <td><%= f.select :category_id, options_from_collection_for_select(@categories, 'id', 'reason', @opportunity.category_id), { include_blank: true }  %></td>
                </tr>
                <tr id="q_spam_mail" style="display:none;">
                    <th>Was it SPAM?</th>
                    <td>
                        <div class="radio-toolbar">
                            <%= f.radio_button :spam, true %>
                            <%= f.label :spam, "Yes" %>
                            <%= f.radio_button :spam, false %>
                            <%= f.label :spam, "No" %>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><%= f.submit "Save", class: "btn btn-success" %></td>
                </tr>
              </table>
    <% end %>
<% end %>