<table width="100%" align="center" class="table table-responsive">
        <tr>
            <th>Status</th>
            <th>ID</th>
            <th>Date & Time</th>
            <th>Name/Caller</th>
            <th>Type</th>
            <th>Contractor</th>
            <th>Agency/Parent Brand</th>
        </tr>
    <% @opportunities.each do |opportunity| %>
        <tr>
            <td>
            <% if opportunity.reviewed? %>
                <span class="label label-success">Reviewed</span>
            <% else %>
                <span class="label label-important">Unreviewed</span>
            <% end %>
            </td>
            <td><%= link_to opportunity.id, edit_closingloop_opportunity_path(opportunity) %></td>
            <td><%= opportunity.created_at.to_formatted_s(:long) %></td>
            <td><%= opportunity.opportunity_name %></td>
            <td><%= opportunity.message_type %></td>
            <td><%= opportunity.company.company_name %></td>
            <td><%= opportunity.agency.company_name %></td>
        </tr>
    <% end %>    
        <tr>
            <td colspan="7" style="text-align: center;">
                <div class="pagination pagination-table">
                    <%= paginate @opportunities %>
                </div>
            </td>
        </tr>
</table>