<table width="100%" align="center" class="table table-responsive">
        <tr>
            <th>Status</th>
            <th>ID</th>
            <th>Date & Time</th>
            <th>Name/Caller</th>
            <th>Type</th>
            <th>Contractor</th>
            <th>Distributor</th>
        </tr>
    <% @leads.each do |lead| %>
        <tr>
            <td>
            <% if lead.reviewed? %>
                <span class="label label-success">Reviewed</span>
            <% else %>
                <span class="label label-important">Unreviewed</span>
            <% end %>
            </td>
            <td><%= link_to lead.id, edit_closingloop_lead_path(lead) %></td>
            <td><%= lead.created_at.to_formatted_s(:long) %></td>
            <td><%= lead.opportunity_name %></td>
            <td><%= lead.message_type %></td>
            <td><%= lead.company.company_name %></td>
            <td><%= lead.company.agency.company_name %></td>
        </tr>
    <% end %>    
        <tr>
            <td colspan="7" style="text-align: center;">
                <div class="pagination pagination-table">
                    <%= paginate @leads %>
                </div>
            </td>
        </tr>
</table>