<%= render_filterrific_spinner %>
<div class="panel-group" id="accordion">
  <% @company_opportunities.each do |opportunity| %>
      <div class="panel panel-default" id="panel<%= opportunity.id %>">
        <div class="panel-heading">
          <h4 class="panel-title">
            <ul>
            <li><span data-toggle="collapse" data-target="#collapse<%= opportunity.id %>" href="#collapse<%= opportunity.id %>"><%= opportunity.created_at.to_date.to_s(:long) %></span></li>
            <li><%= opportunity.opportunity_name %></li>
            <li style="margin-left: 2rem;"><%= opportunity.message_type.upcase %></li>
            <li>
                <% if opportunity.category.lead? %>
                    <span class="request request-quality">Lead</span>
                <% elsif opportunity.spam? %>
                    <span class="request request-quality">Spam</span>
                <% else %>
                    --
                <% end %>
              </li>
              <li>
                <% if opportunity.status == 'p' %>
                    <span class="status status-pending">Pending</span>
                <% elsif opportunity.status == 'u' %>
                    <span class="status status-unreported">Unreported</span>
                <% elsif opportunity.status == 's' %>
                    <span class="status status-jom-complete">Job Complete</span>
                <% elsif opportunity.status == 'x' %>
                    <span class="status status-no-business">No Business</span>
                <% else %>
                    <span class="status status-new">** New **</span>
                <% end %>
              </li>
              <li><span class="btn btn-action accordion-toggle" data-toggle="collapse" data-target="#collapse<%= opportunity.id %>" href="#collapse<%= opportunity.id %>"></span></li>
            </ul>
          </h4>
        </div>
        <div id="collapse<%= opportunity.id %>" class="panel-collapse collapse out">
          <div class="panel-body widget widget-content widget-white">
             <% if opportunity.message_type == 'call' %>
                    <div class="row-fluid row-widget">
                      <div class="control-group span4">
                          <h5>Date & Time</h5>
                          <p><%= opportunity.created_at.to_formatted_s(:long) %></p>
                      </div>
                      <div class="control-group span4">
                          <h5>Caller Phone Number</h5>
                          <p><%= opportunity.caller_phone_number %></p>
                      </div>
                      <div class="control-group span4">
                          <h5>Duration</h5>
                          <p><%= opportunity.duration %></p>
                      </div>
                  </div><!--row-widget-->
                  <div class="row-fluid row-widget">
                    <div class="control-group span4">
                        <h5>Call Status</h5>
                        <p><%= opportunity.call_status %></p>
                    </div>
                    <div class="control-group span4 callername">
                        <h5>Caller Name</h5>
                        <p><%= opportunity.opportunity_name %></p>
                    </div>
                    <div class="control-group span4">
                        <h5>Caller Address</h5>
                        <p><%= opportunity.customer_address %></p>
                    </div>
                  </div><!--row-widget-->
                  <div class="control-group">
                    <h5>Call Recording</h5>
                    <audio controls>
                      <source src="<%= opportunity.call_recording_link %>" type="audio/ogg">
                    </audio>
                  </div> 
            <% elsif opportunity.message_type == 'form' %>
                  <div class="row-fluid row-widget">
                    <div class="control-group span4">
                        <h5>Customer Name</h5>
                        <p><%= opportunity.opportunity_name %></p>
                    </div>
                    <div class="control-group span4">
                        <h5>Customer E-mail</h5>
                        <a href="{$msg.email_address}"><%= opportunity.lead_email %></a>
                    </div>
                    <div class="control-group span4">
                        <h5>Customer Phone Numbers</h5>
                        <p><%= opportunity.caller_phone_number %></p>
                    </div>
                  </div><!--row-widget-->   
                  <div class="row-fluid row-widget">
                    <div class="control-group span4">
                      <h5>Inquiry Reason</h5>
                      <p><%= opportunity.lead_interest %></p>
                    </div>
                  </div><!--row-widget-->
                  <div class="row-widget">
                    <h5>Message</h5>
                    <p><%= opportunity.lead_comments %></p>
                  </div>
            <% end %>
            <%= form_for opportunity, class: "msg_form" do |f| %>
                <div class="row-fluid row-widget">
                  <div class="control-group span4">
                      <h5>Inquiry Type</h5>
                      <%= f.select :category_id, options_from_collection_for_select(@categories, 'id', 'reason', opportunity.category_id), { include_blank: true }, class: "btn"  %>  
                  </div>
                  <div class="control-group span4">
                    <% if opportunity.category.lead? %>
                    <h5>Customer Type</h5>
                    <%= f.select :actiontype_id, options_from_collection_for_select(@actiontypes, 'id', 'action_type', opportunity.actiontype_id), { include_blank: true }, class: "btn" %>
                    <% end %>
                  </div>
                  <div class="control-group span4">
                    <h5>Status</h5>
                    <%= f.select :status, options_for_select([["U - Unreported", "u"], ["P - Pending", "p"], ["$ - Job Complete", "s"], ["X - No Business", "x"]], opportunity.status), { include_blank: true }, class: "outcome_status select btn" %>
                  </div>
                </div>
                <div class="complete_job widget-row control-group row-fluid">
                    <h5>Invoice Amt.</h5>
                    <%= f.text_field :contractor_invoice, value: opportunity.contractor_invoice %>
                </div>
                    
                <div class="complete_job widget-row control-group row-fluid">
                    <h5>Equipment</h5> 
                    <%= f.text_area :equipment, rows: 2, cols: 100, value: opportunity.equipment, class: "span12" %>
                    <small>(200 chars max.)</small>
                </div>
                 
                <div class="widget-row row-fluid">
                    <h5>Notes</h5>
                    <%= f.text_area :notes, rows: 3, value: opportunity.equipment, class: "span12" %>
                    <small>(1000 chars max.)</small>
                </div>                                        
               <div class="form-actions">
                    <%= f.submit "Save changes", class: "btn btn-green pull-right" %>
                    <span  data-toggle="collapse" data-target="#collapse<%= opportunity.id %>" href="#collapse<%= opportunity.id %>" class="accordion-toggle btn btn-dgrey pull-left cancel">Cancel</span>
               </div>           
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>
<div id="paginator">
    <%= paginate @company_opportunities, :remote => true %>
</div> 